*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

body {
	background: #f2f4f8;
}

.container{
    margin: 0 auto;
    width: 50%;
    display: flex;
}

.contacto {
    background-color: #ffffff;
    color: #000000;
    padding: 50px 0;
    text-align: center;
    width: 80%;
    border-radius: 30px;
    margin: 0 auto;
}

.contacto-info h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contacto-info p {
    font-size: 20px;
    margin-bottom: 30px;
}

.contacto-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacto-info ul li {
    font-size: 24px;
    margin-bottom: 10px;
}

.contacto-info ul li i {
    margin-right: 10px;
}

.redes-sociales {
    margin-top: 30px;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
}

.horario{
    text-align: center;
    justify-content: center;
}

.horario h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.horario ul li{
    text-align: center;
    margin: 0 auto;
}


.col-md-6{
    margin-top: 20px;
}

.imagen-telefono {
    float: left;
    width: 30%;
    margin-right: 4%;
}

.imagen-telefono img {
    max-width: 100%;
    height: auto;
    width: 70%;
}